h1{
    background-color: rgb(0, 0, 0);
}
h1{
    color: rgb(226, 226, 225)
}
h1{
   font-size: 300%;
}
h1{
    font-style: italic;
}
h1{
   font-family: 'Times New Roman', Times, serif;
}
h1{
    size: 5cm;
}
h1{
    background-position: top;
}
h1{
    background-position-y: top;
}

h1{
    position: top;
}

body{
    background-color: rgb(255, 255, 255);
}
body{
    color: rgb(8, 8, 6);
}